#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.bg{
    position: absolute;
    top: -4rem;
    right: -4rem;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}
.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: var(--text);
}
.hello{
    font-size: 1.75rem;
    font-weight: 100;
}
.introName{
    color: var(--primary);
}
.introPara{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}
@media screen and (max-width : 768px) {
    .bg{
        right: -35vw;
    }
    #intro{
        margin: 0;
    }
}