#hero{
    height: calc(100vh - 60px);
    padding: 100px 0;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 420px;
    align-items: center;
}
.hero-img {
    position: absolute;
    object-fit: cover;
    top: -1rem;
    right: 0;
    z-index: -1;
    height: 80vh;
    width: auto;
}
.hero-text {
    min-width: 500px;
    max-width: 600px;
    margin-left: 200px;
}
.hero-text h3{
    font-size: 32px;
    margin-bottom: 16px;
}
.hero-text h1{
    font-size: 48px;
    color: var(--primary);
    margin-bottom: 12px;
}
.hero-text h2{
    font-size: 28px;
    margin-bottom: 16px;
    color: var(--text);
    font-weight: 700;
}
.hero-text p{
    color: var(--second);
    margin-bottom: 24px;
}
.hero-text a{
    text-decoration: none;
}
.typing{
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}



@media (max-width : 768px){
    #hero{
        align-items: end;
    }
    .hero-text {
        margin-left: 50px;
    }
}