#hero{
    display: flex;
    align-items: center;
}
.hero-img{
    object-fit: cover;
    height: calc(100vh - 5rem);
}
.hero-text{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 4rem;
}
.introText{
    font-weight: 700;
}
.introPara{
    font-size: 20px;
    font-weight: 100;
}
.roles{
    font-size: 2.5rem;
}
.typing{
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}



@media (max-width : 768px){
    #hero{
        flex-flow: column;
    }
    .hero-img{
        height: 400px;
    }
    .introPara{
        font-size: medium;
    }
    .hero-text{
        align-items: center;
        text-align: center;
        margin: 0;
    }
    
}