#hero{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.hero-img{
    position: absolute;
    top: -1rem;
    right: 0;
    object-fit: cover;
    height: 100vh;
    z-index: -1;
}
.hero-text{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.hello{
    font-size: 1.75rem;
    font-weight: 200;
}
.introPara{
    font-size: large;
    font-weight: 100;
    width: 700px;
    padding-bottom: 10px;
}
.roles{
    font-size: 2.5rem;
}
.typing{
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}



@media (max-width : 768px){
    #hero{
        align-items: end;
    }
    .introPara{
        font-size: medium;
        width: 600px;
    }
    .hero-text{
        padding: 20px;
    }
    
}